<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Someone requested that the password for your TV Chat account be reset.</p>
    <p>Please visit <%= link_to @url, @url %> to reset your password. This link will expire in a few days and is only good once.</p>
    <p>If you didn't request this, you can ignore the email or let us know. Your password won't change until you create a new password.</p>
  </body>
</html>
