---
http_interactions:
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/programs/EP015226800052/images?api_key=<TMS_API_KEY>&imageAspectTV=4x3&imageSize=Lg&imageText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-17.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '[{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p9038828_l_h6_aa.jpg","size":"Lg","aspect":"4x3","category":"Logo","text":"yes","primary":"true","tier":"Series"},{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p10740531_b1t_h6_aa.jpg","size":"Lg","aspect":"4x3","category":"Banner-L1T","text":"yes","primary":"true","tier":"Season"},{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p9200101_b1t_h6_aa.jpg","size":"Lg","aspect":"4x3","category":"Banner-L1T","text":"yes","primary":"true","tier":"Season"},{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p9471691_b1t_h6_aa.jpg","size":"Lg","aspect"[...]
