---
http_interactions:
- request:
    method: get
    uri: http://feeds.tmsapi.com/social/MV003358300000.xml?api_key=<TMS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - '"ac0079fd0c07bca73a2d3f630f2d7ee6"'
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-15.mashery.com
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <social version="1.0">
          <movie>
            <rootId>8329393</rootId>
            <title>Big Mommas: Like Father, Like Son</title>
            <links>
              <link>
                <host id="79625">Facebook</host>
                <url>http://www.facebook.com/121011897967772</url>
              </link>
              <link>
                <host id="79628">Rotten Tomatoes</host>
                <url>http://rottentomatoes.com/m/771228966</url>
              </link>
              <link>
                <host id="79626">Twitter</host>
                <url>https://twitter.com/Bigmommasmovie</url>
              </link>
              <link>
                <host id="79629">Wikipedia</host>
                <url>http://en.wikipedia.org/w/index.php?curid=27451281</url>
              </link>
              <link>
                <host id="79627">IMDB</host>
                <url>http://www.imdb.com/title/tt1464174/</url>
              </link>
              <link>
                <host id="79628">Rotten Tomatoes_newID</host>
                <url>http://rottentomatoes.com/m/771228966</url>
              </link>
            </links>
          </movie>
        </social>
  recorded_at: Wed, 02 Dec 2020 20:37:05 GMT
recorded_with: VCR 6.0.0
