---
http_interactions:
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/series/185044?api_key=<TMS_API_KEY>&descriptionLang=en&imageAspectTV=4x3&imageSize=Lg&imageText=true&titleLang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-05.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '{"tmsId":"SH006883590000","rootId":"185044","seriesId":"185044","subType":"Series","title":"House","releaseYear":2004,"releaseDate":"2004-11-16","origAirDate":"2004-11-16","titleLang":"en","descriptionLang":"en","entityType":"Show","genres":["Drama","Mystery","Medical"],"longDescription":"At
        fictional Princeton Plainsboro Teaching Hospital in New Jersey, prickly genius
        Dr. Gregory House tackles health mysteries as would a medical Sherlock Holmes,
        all the while playing mind games with colleagues that include his best friend,
        oncologist James Wilson. House, an acerbic infectious disease specialist,
        solves medical puzzles with the help of a team of young diagnosticians. Flawless
        instincts and unconventional thinking help earn House great respect, despite
        his brutal honesty and antisocial tendencies.","shortDescription":"A brilliant
        and acerbic diagnostician leads a team of specialists.","totalEpisodes":272,"totalSeasons":"8","cast":[{"billingOrder":"01","role":"Actor","nameId":"87269","personId":"87269","name":"Hugh
        Laurie","characterName":"Dr. Gregory House"},{"billingOrder":"02","role":"Actor","nameId":"55541","personId":"55541","name":"Robert
        Sean Leonard","characterName":"Dr. James Wilson"},{"billingOrder":"03","role":"Actor","nameId":"72370","personId":"72370","name":"Omar
        Epps","characterName":"Dr. Eric Foreman"},{"billingOrder":"04","role":"Actor","nameId":"202782","personId":"200896","name":"Jesse
        Spencer","characterName":"Dr. Robert Chase"},{"billingOrder":"05","role":"Actor","nameId":"169539","personId":"168500","name":"Peter
        Jacobson","characterName":"Dr. Chris Taub"},{"billingOrder":"06","role":"Actor","nameId":"637331","personId":"488417","name":"Odette
        Annable","characterName":"Dr. Jessica Adams"},{"billingOrder":"07","role":"Actor","nameId":"511642","personId":"497604","name":"Charlyne
        Yi","characterName":"Dr. Chi Park"},{"billingOrder":"08","role":"Actor","nameId":"68332","personId":"68332","name":"Lisa
        Edelstein","characterName":"Dr. Lisa Cuddy"},{"billingOrder":"09","role":"Actor","nameId":"314917","personId":"310071","name":"Olivia
        Wilde","characterName":"Thirteen/Dr. Remy Hadley"},{"billingOrder":"10","role":"Actor","nameId":"169177","personId":"168142","name":"Jennifer
        Morrison","characterName":"Dr. Allison Cameron"},{"billingOrder":"11","role":"Actor","nameId":"242224","personId":"238695","name":"Kal
        Penn","characterName":"Dr. Lawrence Kutner"}],"crew":[{"billingOrder":"01","role":"Executive
        Producer","nameId":"71245","personId":"71245","name":"Paul Attanasio"},{"billingOrder":"02","role":"Executive
        Producer","nameId":"290570","personId":"286801","name":"Katie Jacobs"},{"billingOrder":"03","role":"Executive
        Producer","nameId":"203480","personId":"201573","name":"David Shore"},{"billingOrder":"04","role":"Executive
        Producer","nameId":"160710","personId":"160143","name":"Bryan Singer"}],"awards":[{"awardId":"4","name":"Emmy
        (Primetime)","awardName":"Emmy (Primetime)","won":"true","year":"2005","category":"Outstanding
        Writing for a Drama Series","awardCatId":"68"},{"awardId":"4","recipient":"Hugh
        Laurie","name":"Emmy (Primetime)","awardName":"Emmy (Primetime)","personId":"87269","year":"2005","category":"Outstanding
        Lead Actor in a Drama Series","awardCatId":"78"},{"awardId":"2","recipient":"Hugh
        Laurie","name":"Golden Globe","awardName":"Golden Globe","personId":"87269","won":"true","year":"2006","category":"Best
        Performance by an Actor in a Television Series - Drama","awardCatId":"117"},{"awardId":"3","recipient":"Hugh
        Laurie","name":"Scree[...]
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/programs/SH006883590000/images?api_key=<TMS_API_KEY>&imageAspectTV=4x3&imageSize=Lg&imageText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-07.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '[{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p185044_l_h6_aa.jpg","size":"Lg","aspect":"4x3","category":"Logo","text":"yes","primary":"true","tier":"Series"},{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p7892174_b1t_h6_aa.jpg","size":"Lg","aspect":"4x3","category":"Banner-L1T","text":"yes","primary":"true","tier":"Season"},{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p7892175_b1t_h6_aa.jpg","size":"Lg","aspect":"4x3","category":"Banner-L1T","text":"yes","primary":"true","tier":"Season"},{"width":"720","height":"540","uri":"http://wewe.tmsimg.com/assets/p7892176_b1t_h6_aa.jpg","size":"Lg","aspect":[...]
- request:
    method: get
    uri: https://data.tmsapi.com/v1.1/series/185044/episodes?api_key=<TMS_API_KEY>&descriptionLang=en&imageAspectTV=4x3&imageSize=Ms&imageText=true&offset=0&titleLang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-14.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '{"hitCount":267,"hits" :  [{"tmsId":"EP006883590215","rootId":"7838667","seriesId":"185044","subType":"Series","title":"House","titleLang":"en","descriptionLang":"en","entityType":"Episode","genres":["Drama","Mystery","Medical"],"longDescription":"Prickly
        genius Dr. Gregory House tackles health mysteries with his team of young diagnosticians;
        flawless instincts and unconventional thinking help earn him great respect,
        despite his brutal honesty and antisocial tendencies.","shortDescription":"A
        brilliant and acerbic diagnostician leads a team of specialists.","preferredImage":{"width":"1440","height":"1080","uri":"http://wewe.tmsimg.com/assets/p8729531_b_h9_ac.jpg","category":"Banner-L1","text":"yes","primary":"true","tier":"Season"}},{"tmsId":"EP006883590140","rootId":"3344958","seriesId":"185044","subType":"Series","title":"House","titleLang":"en","descriptionLang":"en","entityType":"Episode","genres":["Drama","Mystery","Medical"],"longDescription":"Prickly
        genius Dr. Gregory House tackles health mysteries with his team of young diagnosticians;
        flaw[...]
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/programs/EP006883590215/images?api_key=<TMS_API_KEY>&imageAspectTV=4x3&imageSize=Lg&imageText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-23.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '[{"width":"720"[...]
[...]
