---
http_interactions:
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/programs/MV003358300000?api_key=<TMS_API_KEY>&descriptionLang=en&imageAspect=4x3&imageSize=Ms&imageText=true&titleLang=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-06.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '{"tmsId":"MV003358300000","rootId":"8329393","subType":"Feature Film","title":"Big
        Mommas: Like Father, Like Son","releaseYear":2011,"releaseDate":"2011-02-18","titleLang":"en","descriptionLang":"en","entityType":"Movie","genres":["Comedy"],"longDescription":"After
        stepson Trent (Brandon T. Jackson) witnesses a murder, FBI agent Malcolm Turner
        (Martin Lawrence) brings back Big Momma, his plus-size alter ego, to help
        solve the crime. Big Momma goes deep under cover at a girls school of the
        performing arts, but this time he has Trent and Trent''s female alter ego
        Charmaine as backup. The duo must try to find the killer before the killer
        finds them, but complicating matters is Trent''s crush on a student (Jessica
        Lucas).","shortDescription":"Malcolm Turner and his stepson go under cover
        at a girls school to find a killer.","cast":[{"billingOrder":"01","role":"Actor","nameId":"990","personId":"990","name":"Martin
        Lawrence","characterName":"Malcolm Turner/Big Momma"},{"billingOrder":"02","role":"Actor","nameId":"341377","personId":"332503","name":"Brandon
        T. Jackson","characterName":"Trent/Charmaine"},{"billingOrder":"03","role":"Actor","nameId":"301598","personId":"297676","name":"Jessica
        Lucas","characterName":"Haley"},{"billingOrder":"04","role":"Actor","nameId":"542007","personId":"522410","name":"Portia
        Doubleday","characterName":"Jasmine"},{"billingOrder":"05","role":"Actor","nameId":"157886","personI[...]
- request:
    method: get
    uri: http://data.tmsapi.com/v1.1/programs/MV003358300000/images?api_key=<TMS_API_KEY>&imageAspectTV=4x3&imageSize=Ms&imageText=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-19.mashery.com
    body:
      encoding: ASCII-8BIT
      string: '[{"width":"1440","height":"1080","uri":"http://wewe.tmsimg.com/assets/p8329393_v_h9_aa.jpg","size":"Ms","aspect":"4x3","category":"VOD
        Art","text":"yes","primary":"true"}]'
  recorded_at: Tue, 15 Dec 2020 00:00:54 GMT
recorded_with: VCR 6.0.0
